h1{
    border-right:black solid 4px;
    border-bottom:black solid 4px;
    text-align:center;
    padding:10px;
    width: 360px;
    margin-left: 40px;
}
#conteneur{
    width:400px;
    height:500px;
    font-weight: bold;
}
ul{
    display:flex;
    flex-direction: column;
}
li{
    display: flex;
    border-bottom: black dashed 1px;
}
li .numero, li .titre, li .duree, li .image{
    align-self: flex-end;
    padding: 15px;
}
.numero{
    color: rgb(47,117,181);
}
.titre{
    border-left: black solid 1px;

    line-height: auto;
}


